<div class="main_foot">
    <div class="main_content">
        <ul class="footer_section">
            <li class="footer_links"><a><img src="https://i.imgur.com/XnHeHCU.png" id="facebookicon"></a></li>  
            <li class="footer_links"><a href="https://www.instagram.com/themissingpeacephotography/" target="_blank"><img src="https://i.imgur.com/vGI93Ko.png" id="instagram" alt=""></a></li>
            <li class="footer_links"><a href="https://www.etsy.com/shop/TmpphotographyStudio" target="_blank"><img src="https://i.imgur.com/Bntb9k5.png" id="etsy"></a></li>
        </ul>
        <p class="footer_cr">The Missing Peace Copyright 2020</p>
    </div>
</div>
