<div class="aboutme">
    <div class="aboutme_pic">
        <img src="https://i.imgur.com/u5WleNF.jpg" id="aboutme_img">
    </div>
    <div class="written_info">
        <h1 id="aboutme_name">Katelyn Duffy</h1>
        <p id="aboutme_description"> A wise man by the name of Bob Marley once said, "Love the life you live, live the life you love.", and that is exactly what I intend to do by bringing my photography to you. My name is Katelyn Duffy and I’m an Illinois native, adventure seeker, and of course, an aspiring photographer. Life is short, and it has always been my passion to live mine to the fullest. Through my own life experiences, I’ve seen that not everyone gets this opportunity. I’ve been blessed to have been born with an able body, a creative eye, and a camera in hand, so it is my goal to capture all of what this beautiful world has to offer and bring it straight to the eyes of all who may feel like they are “missing” something in life. My loving fiancé helped me learn that the missing piece to my life was following my photography dreams, so I hope my dreams can bring some of the peace you may have been missing in your life. </p>
    </div>
</div>