<nav class="navbar">
    <div class="navbar_container">
        <a id="navbar_logo" routerLink="home"><img src="https://i.imgur.com/7liWNri.png" id="logo-navbar">The Missing Peace</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar__item"><a routerLink="home" routerLinkActive="active" class="navbar_links">Home</a></li>
            <li class="navbar__item"><a routerLink="collections" routerLinkActive="active" class="navbar_links">Collections</a></li>
            <li class="navbar__item"><a routerLink="aboutMe" routerLinkActive="active" class="navbar_links">About Me</a></li>
            <li class="navbar__item"><a routerLink="contactMe" routerLinkActive="active" class="navbar_links">Contact Me</a></li>
        </ul>
        <button id="Etsy_button"><a target="_blank" href="https://www.etsy.com/shop/TmpphotographyStudio">Etsy Store</a></button>
    </div>
</nav>