<div class="contactme_logo">
    <img src="https://i.imgur.com/7liWNri.png" width="150px" id="logo">
    <h1>Contact me!</h1>
</div>
<div class="main_form">
    <form action="https://mailthis.to/luis.cldrn.24@gmail.com" method="POST">
        <div class="field name" >
            <div class="fields" id="fNameField">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="First Name:" required placeholder="Michael G">
            </div>
            <div class="fields" id="lNameField">
                <label for="lname">Last Name</label>
                <input type="text" required name="Lase Name:" placeholder="Scott">
            </div>
        </div >
        <div class="field">
            <label for="email">Email Adress</label>
            <input type="email" required id="email" name="Their email:" placeholder="MichealScott@Dunder.Mifflin.com">
        </div>
        <div class="field">
            <label for="subject">Subject</label>
            <input type="text" required name="Subject" placeholder="Need More Paper">
        </div>
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="messagebox" cols="30" rows="10" placeholder="Why does no one eat lunch with me?"></textarea>
        </div>
        <div class="field btn">
            <input type="submit" id="sub-btn">
        </div>
        <input type="hidden" name="_honeypot" value="">
    </form>
</div>
