<div class="img-container">
    <img src={{ImgUrl}} alt="">
</div>
<div style="text-align:center">
    <span class="dot {{dot.classes}}" *ngFor="let dot of this.Dots" (click)="UpdateDot(dot.id)" ></span>
</div>

<div class="services">
    <h1>SERVICES</h1>
    <ul>
        <li (click)="router.navigate(['collections'])" id="lands" >LANDSCAPE</li>
        <li (click)="router.navigate(['collections'])" id="portr" >PORTRAITS</li>
        <li (click)="router.navigate(['collections'])" id="arch" >ARCHITECTURE</li>
        <li (click)="router.navigate(['contactMe'])" >CINEMOTOGRAPHY</li>
    </ul>
</div>