.images {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw 1vw;
    width: 98vw;
    margin: 0;
    justify-content:center;
}

.imgs {
    display: block;
    width: auto;
    height: auto;
    max-width: 48vw;
    max-height: 55vh;
}

.imgs:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    cursor: pointer;
}

.nonActive {
    display: none;
}

.active {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    flex-direction: column;
}

.active img {
    max-height: 80vh;
    max-width: 100%;
    
}

.img-info {
    color: rgba(255, 255, 255, 0.637)
}

.img-info p {
    margin: 0;
    font-size: 1rem;
}

.navigation button {
    position: fixed;
    top: 50vh;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.navigation button:hover {
    cursor: pointer;
}

.navigation img {
    width: 3vw;
}

#prevbtn {
    position: fixed;
    left: 4vw;
}
#nextbtn {
    position: fixed;
    right: 4vw;
}

.close {
    position: relative;
    bottom: 93%;
    color: rgb(255, 255, 255);
    left: 3vw;
    font-size: 1.5rem;
}

.close img {
    width: 2.5vw;
}

.collection h1 {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vw;
}

@media only screen and (max-width: 960px) {
    .imgs {
        max-width: 90vw;
        max-height: 90vh;
    }

    .images {
        width: auto;
    }

    .imgs:hover{
        transform: scale(1.01);
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .navigation button {
        position: fixed;
        top: 90vh;
    }

    .active img {
        max-width: 100%;
    }

    .img-info {
        width: 80vw;
        max-width: 550px;
    }

    .img a {
        position: fixed;
        top: 15vw;
    }

    .close img {
        width: 5vw;
        min-width: 40px;
    }
    .img {
        width: 95vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation img {
        width: 5vw;
    }
}